{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}

        {% for image in images %}

        
              <h1>{{ image.content.page.titlePage }}</h1>
                <p>{{ image.content.page.summary }}</p>
                <h3>{{ image.content.titleContent }}</h3>
                <p>{{ image.content.content }}</p>
                <img src="{{ asset('uploads/images/' ~ image.nameImage) }}" width="100">

        {% endfor %}

{% endblock %}
