{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}


            
    {% for page in pages %}
        <h2>{{ page.titlePage }}</h2>
        <table class="table">
            <tr>

                <td>{{ page.creation ? page.creation|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ page.summary }}</td>
                <td>{{ page.imagePages }}</td>

                {% for content in page.contents %}
                    <td>{{ content.titleContent }}</td>
                    <td>{{ content.content }}</td>
                    <td>{{ content.fileOrder }}</td>

                    {# {% for image in content.images %}
                        <td><img src="{{ asset('uploads/images/' ~ image.nameImage) }}" width="100"></td>
                    {% endfor %} #}

                {% endfor %}

                <td>
                    <a href="{{ path('pages_show', {'id': page.id}) }}">show</a>
                    <a href="{{ path('pages_edit', {'id': page.id}) }}">edit</a>
                </td>

            </tr>

        </table>
    {% else %}
        <tr>
            <td colspan="6">no records found</td>
        </tr>
    {% endfor %}


{% endblock %}
