{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
<table class="table">
        <tbody>
            <tr>
                <td>{{ page.titlePage }}</td>
            </tr>
            <tr>
                <td>{{ page.creation }}</td>
            </tr>
            <tr>
                <td>{{ page.imagePages }}</td>
            </tr>
           {% for content in page.contents  %}
            <tr>
                <td>{{ content.titleContent }}</td>
            </tr>
            <tr>
                <td>{{ content.content }}</td>
            </tr>
            
            {# <tr>
                <td>{{ image.nameImage }}</td>
            </tr> #}
            {% else %}
            <h2> Article vide </h2>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
